body{
    background-color: rgb(17 55 240 / 60%);
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: flex-end;
    margin-top: 20%;
}


.container{
    background-color: white;
    width: 300px;
    height: auto;
    border: solid;

    display: flex;
    flex-direction: column;

    height: auto;
    border-radius: 10px;
    border: none;
    padding: 24px;

    font-size: 36px;
    font-weight: 700;
}
#sign-up{
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-left: 28%;
}

#username,#password{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

    font-size: 20px;
}
#forgot{
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
}
input{
    border-top: none;
    border-left: none;
    border-radius: 6px;
    border-right: none;
    padding: 10px;
}
.button{
    margin-top: 20px;
    border-radius: 13px;
    height: 34px;
    color: black;
    font-weight: 700;
    background-color: mediumpurple;
    color: white;
}
#error-username, #error-pw, #error-name,#error-age{
    font-size: 15px;
    color: red;
}